<%- include('../../fragments/header.ejs') %>
    <main>
      <h2>Rental list</h2>
      <table class="table-list">
        <thead>
          <tr>
            <th>Client</th>
            <th>Car registration</th>
            <th class="hide-mobile">Date from</th>
            <th class="hide-mobile">Date to</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
        <% for (let rental of rentals) { %>
          <tr>
            <td><%= rental.client.firstName%> <%=rental.client.lastName%></td>
            <td><%= rental.car.registrationNumber%></td>
            <td class="hide-mobile"><%= rental.dateFrom.toISOString().split('T')[0] %></td>
            <td class="hide-mobile"><%= rental.dateTo ? rental.dateTo.toISOString().split('T')[0] : '' %></td>
            <td>
              <ul class="list-actions">
                <li>
                  <a
                    href="/rentals/details/<%=rental._id%>"
                    class="list-actions-button-details"
                    >Details</a
                  >
                </li>
                <li>
                  <a href="/rentals/edit/<%=rental._id%>" class="list-actions-button-edit"
                    >Edit</a
                  >
                </li>
                <li>
                  <a href="/rentals/delete/<%=rental._id%>" class="list-actions-button-delete">Delete</a>
                </li>
              </ul>
            </td>
          </tr>
        <% } %>
        </tbody>
      </table>
      <p><a href="/rentals/add" class="button-add">Add new rental</a></p>
    </main>
<%- include('../../fragments/footer.ejs') %>
